* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7a6860;
  --secondary-color: #f36f21;
  --third-color: #41a72a;
  --fourth-color: #f2461f;
  --fifth-color: #bfacac;
  --Open-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --sixth-color: #1a93d8;
}

tr,
td {
  font-family: var(--Open-sans);
}

.main {
  padding: 0 60px;

}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 20px 80px;
  /* border: 1px solid red; */
  font-family: var(--Open-sans);
}
/* select {
  padding: 10px;
  border: none;
  border-radius: 1px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
}

option {
  padding: 10px;
  background-color: white;
  color: #444;
} */

.pages {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}
.h4__style {
  font-family: var(--Open-sans);
  font-size: 1.2rem;
  font-weight: 500;
}
.font__fam {
  font-family: var(--Open-sans);
}

.pages {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-family: var(--Open-sans);
}

.pages span i {
  color: var(--secondary-color);
}
.pages span:hover {
  color: white;
  background-color: var(--sixth-color);
}

.paths {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--fifth-color);
  font-family: var(--Open-sans);
}

.title span span {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: var(--Open-sans);
}

.title {
  margin-top: 20px;
}

.container {
  display: flex;
  gap: 30px;
}

.left {
  width: 50%;
  border: 1px solid red;
  box-sizing: border-box;
  height: auto;
}

.left img {
  width: 100%;
  height: 400px;
  /* object-fit: contain; */
}
.options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.options button {
  border: none;
  color: white;
  background-color: var(--secondary-color);
}

.options span {
  font-family: var(--Open-sans);
  font-size: 1.4rem;
  color: var(--primary-color);
}

.prod__desc {
  margin-top: 20px;
}

.bold__title {
  font-weight: 600;
  font-family: var(--Open-sans);
  font-size: 1.1rem;
}

.prod__full__desc {
  margin-top: 10px;
  font-family: var(--Open-sans);
  font-size: 1rem;
  line-height: 21px;
}

.map {
  margin-top: 20px;
}

.right {
  border: 1px solid blue;
  width: 50%;
}
.buttons {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.topobtn {
  background-color: var(--third-color);
  display: flex;
  padding: 5px;
}

.topobtn button {
  border: none;
  background-color: var(--third-color);
  color: white;
  font-family: var(--Open-sans);
}
.nahlbtn {
  border: none;
  background-color: var(--fourth-color);
  color: white;
  display: flex;
  padding: 0 10px;
}

.nahlbtn button {
  border: none;
  background-color: var(--fourth-color);
  color: white;
  font-family: var(--Open-sans);
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 9px;
}
.form_main {
  margin-top: 20px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 5px;
  border: none;
  outline: none;
  
}
 input{
  background-color: #EBEBEB;
  border: none;
  height: 30px;


 }
.checkbox-container {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-container input {
  height: 30px;
  border: none;
  background-color: #EBEBEB;
  outline: none;
  text-align: center;
}

.resize__input {
  height: 100px;
  background-color: #EBEBEB;
  outline: none;
  border: none;
}
/* .agreement{
  display: inline-flex;
  font-family: var(--Open-sans);
} */
.submit__btn {
  width: 40%;
  background-color: var(--sixth-color);
  padding: 10px;
  border: none;
  margin-top: 30px;
}
.details {
  margin-top: 40px;
  border: 1px solid red;
  width: 50%;
  line-height: 30px;
  font-family: var(--Open-sans);
}

.similar-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.similar-box > img {
  width: 40px;
  height: 40px;
}

.similar-box > a {
  text-decoration: none;
  color: black;
  padding: 0px;
}

.similar-box > a > p {
  font-size: 25px;
  font-weight: 100;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.grid-box-contents {
  line-height: 20px;
}

.grid-box-contents > a {
  color: rgb(15, 191, 255);
}

.grid-box-contents > p {
  color: rgb(114, 117, 118);
  font-size: 15px;
}

.grid-box-contents > h3 {
  margin-left: 5px;
}

.grid-box-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-box-1 > img {
  width: 100%;
}

.grid-box-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-box-2 > img {
  width: 100%;
}

.grid-box-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-box-3 > img {
  width: 100%;
}

.grid-box-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-box-4 > img {
  width: 100%;
}

.footer-container-1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
  padding: 20px 0px;
  border-top: 1px solid #d9d6d6;
  border-bottom: 1px solid #d9d6d6;
}

.footer-box-2 {
  font-size: 12px;
}

.footer-box-2 > ul > li > a {
  text-decoration: none;
  color: #a6a4a4;
}

.footer-box-2 > ul > li {
  list-style: none;
}

.privacy-box {
  padding: 40px 0px;
  margin: auto;
  text-align: center;
}

.privacy-box > p > a {
  text-decoration: none;
  color: rgb(255, 111, 0);
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 751px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-container-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  /* .options {
    display: flex;
    flex-direction: column;
  } */
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .left {
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;
    height: auto;
  }
  .right {
    border: 1px solid blue;
    width: 100%;
  }
  .main {
    padding: 0 20px;
    
  }

}

@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .footer-container-1 {
    display: none;
  }
  .options {

    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .left {
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;
    height: auto;
  }
  .right {
    border: 1px solid blue;
    width: 100%;
  }
  .main {
    padding: 0 5px;
    
  }
}




